@media screen and (max-width:1600px) {
  .about, .contact {
    height: auto;
    min-height: calc(100vh - 135px);
  }

  .contact {
    min-height: calc(100vh - 185px);
  }

  .aside {
    padding: 50px 0 55px;
  }
}

@media screen and (max-width:1366px) {
  h1, .h1 {
    font-size: 3.5rem;
  }

  .single-work__desc h1 .btn {
    margin-top: 3px;
  }

  .aside {
    padding: 50px 0 125px;
  }
}

@media screen and (max-width:1280px) {
  .single-work .row {
    flex-direction: column;

    & > div {
      width: 100%;
      border-right: none;
    }

    .smarttabs__nav {
      border-top: 1px solid var(--lines-color);

      .smarttabs__navlink:nth-child(1) {
        span {
          transform: translate(0, 0);
        }
      }
    }

    &.single-work__menu {

      .col-6:first-child {
        order: 1;
      }

      .col-6:last-child {
        text-align: center;

        .icon-link {
          padding: 40px 0;
          margin: 0 auto !important;
        }
      }
    }
  }
}

@media screen and (max-width:1024px) {

  .container {
    padding: 40px 7% 100px 7%;
  }

  .btn, input.btn {

    &.btn-tertiary {
      line-height: 48px;
    }

    // & span {
    //   display: inline-block;
    //   vertical-align: middle;
    //   line-height: 0;
    // }
  }

  .about.row, .works__list .row, .contact .row {
    flex-direction: column;

    .col-6 {
      width: 100%;
      border-right: none;
    }
  }

  .works__desc {
    order: 1;
    padding: 40px 7% 70px;
  }

  .works__img {
    padding: 40px 5% 0;
  }

  .about {
    height: auto;
  }

  .single-work__desc {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;

    & > .col-6 {
      height: auto;

      &:first-child {
        padding: 0 7% 70px;
      }
    }

    h1 .btn svg {
      margin-top: -9px;
    }
  }

  .contact .row {

    .col-6:last-child {
      border-top: 1px solid var(--lines-color);

      .form-control {
        max-width: 480px;
      }
    }
  }
}

@media screen and (max-width:992px) {
  .sidebar__logo {
    margin-bottom: 50px;
  }

  .sidebar__nav {
    gap: 25px;
  }

  .single-work .smarttabs__content .container {
    p {
      padding-right: 0;
    }
    ol {
      margin: 0 7% 30px 30px;
    }

    ul {
      margin: 0 7% 30px 0;
    }

    .splide {
      width: 100%;
    }
  }
}

@media screen and (max-width:800px) {
  #tabmedia {
    padding: 20px 7% 50px;

    .stickytabs__article {
      border-left: none;
    }
  }

  .stickytabs__article .stickytabs__content {
    padding: 0;
  }
}

@media screen and (max-width:768px) {

  .flexbox, .row {
    flex-direction: column;
  }

  .row > div {
    width: 100%;
  }

  .sheet, .about{
    margin: 75px 7% 0px;
    width: calc(100% - 14%);
  }

  .footer {
    margin-left: 0;
  }

  .single-work .row {

    &.single-work__menu .col-6:last-child .icon-link {
      padding: 25px 0;
    }
  }

  .single-work__desc h1 .btn {
    margin-top: 10px;
  }

  /* Mobile navbar */
  .aside {
    flex-direction: row;
    align-items: flex-start;
    z-index: 9996;
    width: 100%;
    height: 75px;
    padding: 19px 7% 0;

    .aside__logo {
      margin: 4px 8% 0 0;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      font-size: 1.5em;
    }

    .nav-toggler{
      display: block;
      z-index: 9999;
      order: 2;
      margin-left: auto;
    }

    .icon-links {
      width: 200px;
      margin-top: 7px;

      .icon-links__item {
        display: inline-block;
        margin: 0 5%;
      }
    }
  }

  .noscroll .aside::after {
    content: '';
    position: fixed;
    z-index: 9997;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 21, 39, 0.5);
  }

  .aside__nav {
    position: fixed;
    z-index: 9998;
    top: -25px;
    right: -80%;
    width: 80%;
    height: calc(100vh + 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--sitebg-color) url('../img/bg-site.jpg') repeat;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
    padding: 100px 0 90px;
    overflow: hidden;
    transition: right .2s ease;

    li {
      margin-bottom: 0px !important;

      a {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        padding: 10px 0;
        font-size: 2em;
        color: var(--font-color);

        &:hover, &.active {
          color: var(--font-color);
          border-color: var(--font-color);
        }
      }
    }

    &.open {
      right: 0;
    }
  }
}

@media screen and (max-width:480px) {

  html {
    font-size: 14px;
  }

  h1, .h1, h2, .h2, h3 {
    word-wrap: break-word;
  }

  h2, .h2 {
    font-size: 2.4em;
  }

  .sheet, .about {
    margin: 75px 0 0px;
    width: 100%;
  }

  .aside__nav {
    right: -100%;
    width: 100%;
  }

  .top-link {
    margin: 0;
    right: 3%;
    bottom: 95px;
  }

  .smarttabs__nav .smarttabs__navlink {
    font-size: 0.9rem;

    &:nth-child(1) {
      width: calc(87px + (100% - 202px) / 6 * 2) !important;
    }

    &:nth-child(2) {
      width: calc(85px + (100% - 202px) / 6 * 2) !important;

      span {
        display: none;
      }
    }

    &:nth-child(3) {
      width: calc(30px + (100% - 202px) / 6 * 2) !important;
    }
  }
}

@media screen and (max-width:414px) {
  .about__btns {
    text-align: center;

    .btn {
      display: block;
      width: 80%;
      margin: 0 auto 20px !important;
    }
  }
}

@media screen and (max-width:375px) {
  h1, .h1 {
    font-size: 2.8rem;
    word-wrap: break-word;
  }

  h2, .h2 {
    font-size: 2.2em;
    word-wrap: break-word;
  }

  .aside .icon-links .icon-links__item {
    margin: 0 3%;
  }
}
