@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800&subset=cyrillic');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #444;
}

header, main {
  width: 80%;
  max-width: 1000px;
  margin: 50px auto 0;
}

header img {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 35px;
}

header:after {
  content: '';
  display: table;
  clear: both;
}

main {
  display: block;
  width: 80%;
  padding-bottom: 250px;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1, .h1 {
  font-size: 34px;
  font-weight: 400;
}

h1 span {
  color: #aeaeae;
}

h1::after, .h1::after {
  height: 0;
}

h2 {
  position: relative;
  font-weight: 400;
  margin: 70px 0 30px;
  padding-top: 20px;
}

h2::after {
  position: absolute;
  content: '';
  left: 3px;
  bottom: -15px;
  width: 65px;
  height: 4px;
  background-color: #aeaeae;
}

h3 {
  font-weight: 600;
  margin-top: 40px;
}

p {
  line-height: 1.7;
}

strong {
  font-weight: 600;
}

.center {
  text-align: center;
}

.bg-y {
  padding: 1px 4px;
  background-color: rgba(234,227,111,0.4);
}

.bg-p {
  padding: 1px 4px;
  background-color: rgba(185,89,209,0.3);
}

.bg-g {
  padding: 1px 4px;
  background-color: rgba(97,209,89,0.3);
}

.bg-r {
  padding: 1px 4px;
  background-color: rgba(224,106,70,0.3);
}

.tasks, .resume {
  margin-left: 235px;
}

.tasks-list {
   margin-left: 0;
}

ol li,
ul li {
   margin-bottom: 15px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #7c7cd1;
}

a.main {
 margin-right: 25px;
}

section img {
  max-width: 100%;
  margin: 100px 0;
}

video {
  margin-top: 25px;
}

.portfolio-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio-nav li {
  display: inline-block;
  margin: 0 20px 15px 0;
}

.portfolio-nav li::before {
  display: inline-block;
  content: '|';
  font-size: 1em;
  color: #dedede;
  margin-right: 20px;
}

.portfolio-nav li:first-child::before {
  content: '';
  margin-right: 0;
}

.list-img-text {
  padding-bottom: 30px;
}

.list-img-text li {
  clear: both;
}

.list-img-text img {
  float: left;
  margin: 0 20px 35px 0;
}

.tags {
  max-width: 80%;
}

.tags li {
  list-style: none;
  display: inline-block;
  padding: 5px 15px;
  background-color: #f7f7f7;
  border-radius: 15px;
  font-weight: 600;
  color: #7e7e7e;
}

.img-zoom {
  cursor: pointer;
}

.popup-img {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5001;
  background: #ccc;
  background: rgba(0, 0, 0, 0.5);
}

.popup-img img {
  position: relative;
  z-index: 5002;
  max-width: 80vw;
  max-height: 80vh;
}

.popup-btn-close {
  position: absolute;
  z-index: 5003;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 36px;
  color: #fff;
  text-align: center;
  line-height: 1.1;
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}

.img-shadow {
  -webkit-box-shadow: 0px 3px 42px 0px rgba(54,54,54,0.18);
  -moz-box-shadow: 0px 3px 42px 0px rgba(54,54,54,0.18);
  box-shadow: 0px 3px 42px 0px rgba(54,54,54,0.18);
}
