@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800&subset=cyrillic');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #444;
}

header, main {
  width: 80%;
  max-width: 1200px;
  margin: 50px auto 0;
}

header {
  padding-top: 30px;
}

header img {
  width: 190px;
  height: 190px;
}

header h1 {
  margin: -7px 0 0;
}

header:after {
  content: '';
  display: table;
  clear: both;
}

main {
  display: block;
  width: 80%;
  padding-bottom: 250px;
}

.content {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 80%;
  margin: 50px auto 0;
}

.sidebar {
  width: 20%;
  position: relative;
}

main.page-content {
  margin: 0;
}

.page-content .h1 {
  margin-top: 0;
  padding-top: 0;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1, .h1 {
  font-size: 34px;
  font-weight: 400;
}

h1 span {
  color: #aeaeae;
}

h1::after, .h1::after {
  height: 0;
  background-color: transparent;
}

h2 {
  position: relative;
  font-weight: 400;
  margin: 70px 0 30px;
  padding-top: 20px;
}

h2::after {
  position: absolute;
  content: '';
  left: 3px;
  bottom: -15px;
  width: 65px;
  height: 4px;
  background-color: #aeaeae;
}

h3 {
  font-weight: 600;
  margin-top: 40px;
}

p {
  line-height: 1.7;
}

strong, b {
  font-weight: 600;
}

.center {
  text-align: center;
}

.bg-y {
  padding: 1px 4px;
  background-color: rgba(234,227,111,0.4);
}

.bg-p {
  padding: 1px 4px;
  background-color: rgba(185,89,209,0.3);
}

.bg-g {
  padding: 1px 4px;
  background-color: rgba(97,209,89,0.3);
}

.bg-r {
  padding: 1px 4px;
  background-color: rgba(224,106,70,0.3);
}

.tasks {
  margin-left: 235px;
}

.tasks-list {
   margin-left: 0;
}

ol li,
ul li {
   margin-bottom: 15px;
   line-height: 1.6;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #7c7cd1;
}

a.main {
 margin-right: 25px;
}

pre {
  width: 100%;
  overflow: auto;
  margin: 2rem 0;
  padding: 1rem 0.8rem 1rem 1.2rem;
  color: #3f3b36;
  border: 1px solid #ebebeb !important;
  font: lighter 1rem/1.8rem Monaco,'MonacoRegular',monospace;
  background: url('../img/pre.png') repeat 0 -0.9rem;
  background-size: 1px 3.53rem;
}

section img {
  max-width: 100%;
  margin: 50px 0 100px;
}

video {
  margin-top: 25px;
}

iframe {
  display: block;
  max-width: 100%;
  margin: 25px auto 50px;
}

.sidebar-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  margin: 135px 0;
}

.portfolio-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio-nav li {
  display: block;
  margin: 0 0 25px 0;
}

.portfolio-nav li a {
  position: relative;
  display: block;
  padding-left: 25px;
}

.portfolio-nav li a::before {
  position: absolute;
  top: 4px;
  left: 0;
  content: '';
  width: 20px;
  height: 20px;
}

.portfolio-nav li a[href="#website"]::before {
  background: url('../img/logo-mws.png') no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px 18px;
}
.portfolio-nav li a[href="#layout"]::before {
  background: url('../img/logo-layout.png') no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px 18px;
}
.portfolio-nav li a[href="#javascript"]::before {
  background: url('../img/logo-js.png') no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px 18px;
}
.portfolio-nav li a[href="#vue"]::before {
  background: url('../img/logo-vue.png') no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px 18px;
}
.portfolio-nav li a[href="#jquery"]::before {
  background: url('../img/logo-jquery.png') no-repeat;
  -webkit-background-size: 18px 20px;
  background-size: 18px 20px;
}
.portfolio-nav li a[href="#php"]::before {
  background: url('../img/logo-php.png') no-repeat;
  -webkit-background-size: 20px 14px;
  background-size: 20px 14px;
}
.portfolio-nav li a[href="#resume"] {
  margin-top: 80px;
}
.portfolio-nav li a[href="#resume"]::before {
  background: url('../img/icon-resume.png') no-repeat;
  -webkit-background-size: 18px 20px;
  background-size: 18px 20px;
  top: 3px;
}

#website {
  background: url('../img/logo-mws.png') left 0 top 23px no-repeat;
  -webkit-background-size: 25px 25px;
  background-size: 25px 25px;
  padding-left: 30px;
}
#layout {
  background: url('../img/logo-layout.png') left 0 top 23px no-repeat;
  -webkit-background-size: 25px 25px;
  background-size: 25px 25px;
  padding-left: 30px;
}
#javascript {
  background: url('../img/logo-js.png') left 0 top 23px no-repeat;
  -webkit-background-size: 25px 25px;
  background-size: 25px 25px;
  padding-left: 30px;
}
#vue {
  background: url('../img/logo-vue.png') left 0 top 23px no-repeat;
  -webkit-background-size: 25px 25px;
  background-size: 25px 25px;
  padding-left: 30px;
}
#jquery {
  background: url('../img/logo-jquery.png') left 0 top 22px no-repeat;
  -webkit-background-size: 24px 27px;
  background-size: 24px 27px;
  padding-left: 30px;
}
#php {
  background: url('../img/logo-php.png') left 0 top 24px no-repeat;
  -webkit-background-size: 30px 20px;
  background-size: 30px 20px;
  padding-left: 33px;
}
#resume {
  background: url('../img/icon-resume.png') left 0 top 2px no-repeat;
  -webkit-background-size: 30px 41px;
  background-size: 30px 41px;
  padding-left: 45px;
}
#website::after, #layout::after, #javascript::after, #vue::after, #jquery::after, #php::after {
  position: absolute;
  z-index: -1;
  left: -4px;
  bottom: -24px;
  width: 86px;
  height: 66px;
  background-color: transparent;
  background: url('../img/bg-bean.png') no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  opacity: 0.3
}

.resume {
  padding-top: 200px;
}

.list-img-text {
  padding-bottom: 30px;
}

.list-img-text li {
  clear: both;
}

.list-img-text img {
  float: left;
  margin: 0 20px 35px 0;
}

.tags {
  max-width: 80%;
  padding: 0;
}

.tags li {
  list-style: none;
  display: inline-block;
  padding: 5px 15px;
  background-color: #f7f7f7;
  border-radius: 15px;
  font-weight: 600;
  color: #7e7e7e;
}

.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0;
}

.box:after {
  clear: both;
}

.box_aside {
  float: left;
  max-width: 40%
}

.box_aside img {
  max-width: 100%;
  height: auto;
}

.box_cnt {
  overflow: hidden;
  padding-left: 35px;
}

.img-zoom {
  cursor: pointer;
}

.popup-img {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5001;
  background: #ccc;
  background: rgba(0, 0, 0, 0.5);
}

.popup-img img {
  position: relative;
  z-index: 5002;
  max-width: 80vw;
  max-height: 80vh;
}

.popup-btn-close {
  position: absolute;
  z-index: 5003;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 36px;
  color: #fff;
  text-align: center;
  line-height: 1.1;
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}

.img-shadow {
  -webkit-box-shadow: 0px 3px 42px 0px rgba(54,54,54,0.18);
  -moz-box-shadow: 0px 3px 42px 0px rgba(54,54,54,0.18);
  box-shadow: 0px 3px 42px 0px rgba(54,54,54,0.18);
}

@media screen and (max-width: 480px) {
  .box_aside {float: none; max-width: 100%}
  .box_cnt {padding-left: 0;}
}
