@import url("./base.min.css");
@import url("./font.min.css");
@import url("./aside.min.css");
@import url("./sections.min.css");
@import url("./uielem.min.css");
@import url("./form.min.css");
@import url("./media.min.css");
@charset "UTF-8";

:root {
  --font-text: 'PTMono', sans-serif;
  --font-headline: 'Futura PT', sans-serif;
  --font-color: #141527; /* rgba(20, 21, 39, 0.5) */
  --link-color: #2b36cc; /* rgba(43, 54, 204, 0.5) */
  --link-color-hover: rgb(15,15,15);
  --link-color-focus: #ffae51;
  --lines-color: rgba(178, 176, 189, 0.7); /* #b2b0bd; */
  --sitebg-color: #faf6ee; /* rgba(250, 246, 238, 0.5) */
}

.accordionnav {
  max-width: 500px;
}

.accordionnav__content {
  margin: 0 !important;
  padding-left: 1em;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.4s ease-out;
}

.accordionnav li {
  margin: 0.5em 0 !important;
}

/* .accordionnav__heading */
.accordionnav a {
  position: relative;
  width: 100%;
  display: block;
  background: #d5b28b;
  color: #fefefe;
  padding: 0.75em;
  border-radius: 0.15em;
  transition: background 0.3s ease;
}

.accordionnav__content a {
  background: #e4d4c1;
  color: #000;
}

.accordionnav a:hover {
  background: #cb9f6e;
}

.accordionnav__content a:hover {
  background: #ceb291;
}

.accordionnav__heading:after {
  position: absolute;
  top: 23%;
  right: 25px;
  content: '\203A';
  font-size: 1.2em;
  transform: rotate(90deg);
  transition: all 0.2s ease-out;
}

.accordionnav li.show > .accordionnav__content {
  max-height: 1000px;
}

.accordionnav li.show > .accordionnav__heading::after {
  transform: rotate(-90deg);
}
