html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 15px;
  @include respondTo(desktop, min) {
    font-size: 16px;
  }
  @include respondTo(smartphone, max) {
    font-size: 16px;
  }
}

* { scroll-behavior: smooth; }

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: $font_default;
  line-height: 1.7;
  color: $color_default;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: $color_primary;
  text-decoration: none;
  &:hover,
  &:focus {
    color: lighten($color_primary, 10%);
  }
}

button,
a {
  outline: none;
}

button {
  cursor: pointer;
}

ol, ul {
	list-style: none;
}

img {
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

label {
  display: block;
}
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='search'],
textarea {
  appearance: none;

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: lighten(black, 40%);
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: lighten(black, 40%);
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: lighten(black, 40%);
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: lighten(black, 40%);
  }
}
textarea {
  resize: vertical;
  min-height: 160px
}

// .clearfix:after {
//   content: '';
//   display: table;
//   clear: both;
// }
// .fl_left {float:left;}
// .fl_right {float:right;}
// .full-width {width: 100%;}

iframe {width: 100%;}

section, header, footer {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.container {
  width: calc(100% - 80px);
  max-width: 1260px;
  margin: 0 auto;

  @include respondTo(netbook, max) {
    width: 88%;
  }
}

.row {
  @extend %flexbox;
  @include respondTo(netbook, max) {
    flex-wrap: wrap;
  }
}
.half-row {
  width: 48.33%;

  @include respondTo(netbook, max) {
    width: 100%;
  }
}

aside {
  width: 31.11%;
  @include respondTo(netbook, max) {
    width: 100%;
  }
}

article {
  width: 65.55%;
  @include respondTo(netbook, max) {
    width: 100%;
  }
}
