// font
$font_default: 'PT Sans', sans-serif;
$font_primary: 'Cormorant Garamond', serif;

// color
$color_default: rgba(0, 0, 0, 0.9);
// $color_primary: #765295; - не насыщенный
$color_primary: #7837b0;

// media query
$mq_smartphone: 480px;
$mq_tablet: 768px;
$mq_netbook: 992px;
$mq_notebook: 1200px;
$mq_desktop: 1600px;
