extends layout/default

include partial/mixinList

block title
	title Таролог Дарья Блум: гадание на картах Таро

block meta
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Таролог Дарья Блум: гадание на картах Таро")
	meta(property="og:description" content="Предсказание-гадание на картах Таро от таролога Дарьи Блум. Получите Вашу карту дня!")
	meta(property="og:image" content="./img/bg-intro.jpg")
	meta(property="og:url" content="https://daria-bloom.ru/")
	meta(name="twitter:title" content="Таролог Дарья Блум: гадание на картах Таро")
	meta(name="twitter:description" content="Предсказание-гадание на картах Таро от таролога Дарьи Блум. Получите Вашу карту дня!")
	meta(name='description', content='Предсказание-гадание на картах Таро от таролога Дарьи Блум.')
				
block content
	body
		include partial/loader
		include partial/header
		include partial/about
		include partial/service
		include partial/reviews
		include partial/faq
		include partial/cardOfDay
		include partial/gallery
		include partial/contact
		include partial/footer
		include partial/popup
		include partial/scrollToTopBtn
		+script
