.container {
  padding-top: 50px;
}

h4 {
	margin-top: 40px;
}

.alert {
	margin-top: 5px;
}

#error {
	font-size: 20px;
	color: red;
	margin: 20px 0;
}

.form-group .checkbox input {
	border: 1px solid red;
}
