doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		block title
		block meta
		link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')
		link(rel="stylesheet" href="./vendor/splide.min.css")
		link(rel="stylesheet" href="./vendor/lightgallery.min.css")
		//- link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css")
		link(rel='stylesheet' href='./style/app.css')
		//- link(rel='stylesheet' href='../../scss/style/app.css')
	block content
