section.card-ofday-area
  .container
    .area-header
      .title-decor.modif(data-animation="showFromBottom") 5
      h2.title(data-animation="showFromRight") Карта дня
      .subtitle Ваше предсказание на сегодня
    .row
      .half-row       
        .card-ofday-intro
          p Когда вы заходите на мой сайт, то погружаетесь в поток моей энергии любви, выраженной в <strong>генераторе карты дня</strong>. С помощью него вы можете получить предсказание на сегодня, но <u>только 1 раз в день, иначе магия карты не сработает</u>.
        .card-ofday-description
        //- .card-ofday-content(data-animation="showFade" data-quote="Стремитесь к центру колеса, к единственно неподвижной точке — твоему собственному «Я». Остановитесь и наблюдайте.")
        //-   h3 Колесо фортуны
        //-   p В жизни Вашей царит чересполосица, но это потому, что Вы начинаете новый цикл. Карта считается символом прогресса, а никакой прогресс легко и даром не дается. Совершенствование себя и всего, что окружает, — занятие похвальное, однако нелегкое. В целом «<strong>Колесо Фортуны</strong>» в прямой позиции считается картой хороших предзнаменований и добрых перемен. Может означать неожиданную улыбку судьбы. В любом случае следует помнить о том, что круговое движение колеса предполагает круговорот вещей и всего сущего от начала к концу. Обратная позиция говорит о том, что Вы осознали свою жизненную задачу или, по крайней мере, признали существование таковой. Знание об этом не замедлит прийти, так и что Вы можете начать трудиться.
        //-   p Перемены придут спустя длительное время. В определенных случаях может означать также несообразные действия в отношении неожиданных событий (об этом можно судить по соседним картам). Или же Вы с упорством, достойным лучшего применения, сопротивляетесь переменам, которые все равно неизбежны. <i>Эттейла</i> считает ее одной из самых благоприятных: она предвещает почести, возвышение, процветание в самом скором времени. Рядом с другими картами она усиливает их хорошее влияние и уменьшает дурное. В перевернутом виде означает всего лишь визит друга-военного. Кажется, что все смешалось теперь и в Вашем доме тоже, Вы больше ничего не понимаете; но в жизни все повторяется — и мысли, и чувства, и события.
        //-   p <strong>Колесо Фортуны</strong> набирает скорость: берегитесь вмешиваться в ход событий, не делайте лишний движений, иначе снесет! Стремитесь к центру колеса, к единственно неподвижной точке — твоему собственному «Я». Остановитесь и наблюдайте. Взгляните на свои проблемы оком стороннего наблюдателя: только так Вы найдете их решение.
        .btns-block
          #flipButton.btn.default(data-animation="showFromBottom" href="#") Выбрать карту
      .half-row.card-ofday-image
        .flip-container
          .flipper
            .front
              img#cardofday(src='img/card-ofday/card-ofday.png' data-src='img/card-ofday/card-ofday.gif' alt='Таро карта дня')
            .back
              img#imageSelectedCard(src='img/card-ofday/card-1.gif' alt='Таро карта Фортуна')
