section#gallery.gallery-area
  .container
    .area-header
      .title-decor(data-animation="showFromBottom") 6
      h2.title(data-animation="showFromRight") Галерея
      .subtitle Фотографии процесса гадания на картах Таро
    #lightgallery.photogallery
      a(href='img/gallery/pic-1.jpg' data-sub-html="Гадание на картах Таро")
        img(src='img/gallery/pic-1-th.jpg')
      a(href='img/gallery/pic-3.jpg' data-sub-html="Процесс гадания на картах Таро всегда волнительный и впечатляющий момент жизни каждого человека.")
        img(src='img/gallery/pic-3-th.jpg')
      a(href='img/gallery/pic-2.jpg' data-sub-html="Карты Таро")
        img(src='img/gallery/pic-2-th.jpg')      
      a(href='img/gallery/pic-4.jpg' data-sub-html="Карты Таро")
        img(src='img/gallery/pic-4-th.jpg')
      a(href='img/gallery/pic-5.jpg' data-sub-html="Процесс гадания на картах Таро")
        img(src='img/gallery/pic-5-th.jpg')      
      a(href='img/gallery/pic-1.jpg' data-sub-html="Карты Таро")
        img(src='img/gallery/pic-1-th.jpg')      
      a(href='img/gallery/pic-3.jpg' data-sub-html="Процесс гадания на картах Таро всегда волнительный и впечатляющий момент жизни каждого человека.")
        img(src='img/gallery/pic-3-th.jpg')
      a(href='img/gallery/pic-2.jpg' data-sub-html="Карты Таро")
        img(src='img/gallery/pic-2-th.jpg')      
      a(href='img/gallery/pic-4.jpg' data-sub-html="Карты Таро")
        img(src='img/gallery/pic-4-th.jpg')
      a(href='img/gallery/pic-5.jpg' data-sub-html="Процесс гадания на картах Таро")
        img(src='img/gallery/pic-5-th.jpg')
