.body-blackout
// Modals
.popup-modal.shadow(data-popup-modal='one')
  .popup-modal__close ×
  .popup-modal__content
    h3 Согласие на обработку персональных данных
    p Пользователь, оставляя заявку на интернет-сайте DARIA-BLOOM.RU, принимает настоящее Согласие на обработку персональных данных (далее &ndash; Согласие). Действуя свободно, по своей волей и в своем интересе, а также подтверждая свою дееспособность, Пользователь дает свое согласие администрации сайта DARIA-BLOOM.RU на обработку своих персональных данных со следующими условиями:
    ol
      li Данное Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.
      li Согласие дается на обработку следующих персональных данных:<br />
        | Персональные данные, не являющиеся специальными или биометрическими: номера контактных телефонов; адреса электронной почты; пользовательские данные (тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь; с какого сайта или по какой рекламе; язык ОС и Браузера; какие страницы открывает и на какие кнопки нажимает пользователь; ip-адрес.)
      li Персональные данные не являются общедоступными.
      li Цель обработки персональных данных: обработка входящих запросов физических лиц с целью оказания консультирования; аналитики действий физического лица на веб-сайте и функционирования веб-сайта.
      li Основанием для обработки персональных данных является ст. 24 Конституции Российской Федерации; ст.6 Федерального закона №152-ФЗ &laquo;О персональных данных&raquo;; настоящее согласие на обработку персональных данных.
      li В ходе обработки с персональными данными будут совершены следующие действия: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; блокирование; удаление; уничтожение.
      li Обработка персональных данных может быть прекращена по запросу субъекта персональных данных. Хранение персональных данных, зафиксированных на бумажных носителях осуществляется согласно Федеральному закону №125-ФЗ &laquo;Об архивном деле в Российской Федерации&raquo; и иным нормативно правовым актам в области архивного дела и архивного хранения.
      li Согласие может быть отозвано субъектом персональных данных или его представителем путем письменного обращения на E-mail-адрес DariaBloom@yandex.ru администрации сайта DARIA-BLOOM.RU.
      li В случае отзыва субъектом персональных данных или его представителем согласия на обработку персональных данных администрация сайта DARIA-BLOOM.RU вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2 &ndash; 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ &laquo;О персональных данных&raquo; от 27.07.2006 г.
      li Настоящее согласие действует все время до момента прекращения обработки персональных данных, указанных в п.7 и п.8 данного Согласия.
.popup-modal.shadow(data-popup-modal='two')
  .popup-modal__close ×
  .popup-modal__content   
    h3 Политика конфиденциальности и защиты информации сайта DARIA-BLOOM.RU
    p г. Москва, 2021&nbsp;г.
    p СОДЕРЖАНИЕ
    p 1 Общие положения<br />
      | 2 Принципы и условия обработки персональных данных<br />
      | 3 Принципы обработки персональных данных<br />
      | &nbsp; &nbsp;3.1 Условия обработки персональных данных<br />
      | &nbsp; &nbsp;3.2 Конфиденциальность персональных данных<br />
      | &nbsp; &nbsp;3.3 Общедоступные источники персональных данных<br />
      | &nbsp; &nbsp;3.4 Специальные категории персональных данных<br />
      | &nbsp; &nbsp;3.5 Биометрические персональные данные<br />
      | &nbsp; &nbsp;3.6 Поручение обработки персональных данных другому лицу<br />
      | &nbsp; &nbsp;3.7 Трансграничная передача персональных данных<br />
      | 4 Права субъекта персональных данных<br />
      | &nbsp; &nbsp;4.1 Согласие субъекта персональных данных на обработку его персональных данных<br />
      | &nbsp; &nbsp;4.2 Права субъекта персональных данных<br />
      | 5 Обеспечение безопасности персональных данных<br />
      | 6 Заключительные положения
    p 1. ОБЩИЕ ПОЛОЖЕНИЯ
    p Политика обработки персональных данных (далее &ndash; Политика) разработана в соответствии с Федеральным законом от 27.07.2006. №152-ФЗ &laquo;О персональных данных&raquo; (далее &ndash; ФЗ-152).<br />
    p Настоящая Политика определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных администрацией сайта DARIA-BLOOM.RU (далее &ndash; Оператор) с целью защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
    p В Политике используются следующие основные понятия:<br />
      | &bull;	автоматизированная обработка персональных данных &ndash; обработка персональных данных с помощью средств вычислительной техники;<br />
      | &bull;	блокирование персональных данных &ndash; временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);<br />
      | &bull;	информационная система персональных данных &ndash; совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;<br />
      | &bull;	обезличивание персональных данных &ndash; действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному субъекту персональных данных;<br />
      | &bull;	обработка персональных данных &ndash; любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;<br />
      | &bull;	оператор &ndash; государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;<br />
      | &bull;	персональные данные &ndash; любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных);<br />
      | &bull;	предоставление персональных данных &ndash; действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;<br />
      | &bull;	распространение персональных данных &ndash; действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационнотелекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;<br />
      | &bull;	трансграничная передача персональных данных &ndash; передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу.<br />
      | &bull;	уничтожение персональных данных &ndash; действия, в результате которых невозможно восстановить содержание персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.
    p Компания обязана опубликовать или иным образом обеспечить неограниченный доступ к настоящей Политике обработки персональных данных в соответствии с ч. 2 ст. 18.1. ФЗ-152.
    p 2. ПРИНЦИПЫ И УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
    p 2.1 Принципы обработки персональных данных
    p Обработка персональных данных у Оператора осуществляется на основе следующих принципов:<br/>
      | – законности и справедливой основы;<br />
      | – ограничения обработки персональных данных достижением конкретных, заранее определенных и законных целей;<br />
      | – недопущения обработки персональных данных, несовместимой с целями сбора персональных данных;<br />
      | – недопущения объединения баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;<br />
      | – обработки только тех персональных данных, которые отвечают целям их обработки;<br />
      | – соответствия содержания и объема обрабатываемых персональных данных заявленным целям обработки;<br />
      | – недопущения обработки персональных данных, избыточных по отношению к заявленным целям их обработки;<br />
      | – обеспечения точности, достаточности и актуальности персональных данных по отношению к целям обработки персональных данных;<br />
      | – уничтожения либо обезличивания персональных данных по достижении целей их обработки или в случае утраты необходимости в достижении этих целей, при невозможности устранения Оператором допущенных нарушений персональных данных, если иное не предусмотрено федеральным законом.
    p 2.2 Условия обработки персональных данных
    p Оператор производит обработку персональных данных при наличии хотя бы одного из следующих условий:<br/>
      | – обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных;<br />
      | – обработка персональных данных необходима для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления и выполнения возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей;<br />
      | – обработка персональных данных необходима для осуществления правосудия, исполнения судебного акта, акта другого органа или должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном производстве;<br />
      | – обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;<br />
      | обработка персональных данных необходима для осуществления прав и законных интересов оператора или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;<br />
      | – осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе (далее - общедоступные персональные данные);<br />
      | – осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.
    p 2.3 Конфиденциальность персональных данных
    p Оператор и иные лица, получившие доступ к персональным данным, обязаны не раскрывать третьим лицам и не распространять персональные данные без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом.
    p 2.4 Общедоступные источники персональных данных
    p В целях информационного обеспечения у Оператора могут создаваться общедоступные источники персональных данных субъектов, в том числе справочники и адресные книги. В общедоступные источники персональных данных с письменного согласия субъекта могут включаться его фамилия, имя, отчество, дата и место рождения, должность, номера контактных телефонов, адрес электронной почты и иные персональные данные, сообщаемые субъектом персональных данных.
    p Сведения о субъекте должны быть в любое время исключены из общедоступных источников персональных данных по требованию субъекта либо по решению суда или иных уполномоченных государственных органов.
    p 2.5 Специальные категории персональных данных
    p Обработка Оператором специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни, допускается в случаях, если:<br/>
      | – субъект персональных данных дал согласие в письменной форме на обработку своих персональных данных;<br />
      | – персональные данные сделаны общедоступными субъектом персональных данных;<br />
      | – обработка персональных данных осуществляется в соответствии с законодательством о государственной социальной помощи, трудовым законодательством, законодательством Российской Федерации о пенсиях по государственному пенсионному обеспечению, о трудовых пенсиях;<br />
      | – обработка персональных данных необходима для защиты жизни, здоровья или иных жизненно важных интересов субъекта персональных данных либо жизни, здоровья или иных жизненно важных интересов других лиц и получение согласия субъекта персональных данных невозможно;<br />
      | – обработка персональных данных осуществляется в медико-профилактических целях, в целях установления медицинского диагноза, оказания медицинских и медикосоциальных услуг при условии, что обработка персональных данных осуществляется лицом, профессионально занимающимся медицинской деятельностью и обязанным в соответствии с законодательством Российской Федерации сохранять врачебную тайну;<br />
      | – обработка персональных данных необходима для установления или осуществления прав субъекта персональных данных или третьих лиц, а равно и в связи с осуществлением правосудия;<br />
      | – обработка персональных данных осуществляется в соответствии с законодательством об обязательных видах страхования, со страховым законодательством.<br />
      | – обработка специальных категорий персональных данных должна быть незамедлительно прекращена, если устранены причины, вследствие которых осуществлялась их обработка, если иное не установлено федеральным законом.
    p Обработка персональных данных о судимости может осуществляться Оператором исключительно в случаях и в порядке, которые определяются в соответствии с федеральными законами.
    p 2.6 Биометрические персональные данные
    p Сведения, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность - биометрические персональные данные - могут обрабатываться Оператором только при наличии согласия в письменной форме субъекта.
    p 2.7 Поручение обработки персональных данных другому лицу
    p Оператор вправе поручить обработку персональных данных другому лицу с согласия субъекта персональных данных, если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом договора. Лицо, осуществляющее обработку персональных данных по поручению Оператора, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные ФЗ-152.
    p 2.8 Трансграничная передача персональных данных
    p Оператор обязана убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается адекватная защита прав субъектов персональных данных, до начала осуществления такой передачи.
    p Трансграничная передача персональных данных на территории иностранных государств, не обеспечивающих адекватной защиты прав субъектов персональных данных, может осуществляться в случаях:
    p наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных;<br />
      | исполнения договора, стороной которого является субъект персональных данных.
    p 3. ПРАВА СУБЪЕКТА ПЕРСОНАЛЬНЫХ ДАННЫХ
    p 3.1 Согласие субъекта персональных данных на обработку его персональных данных
    p Субъект персональных данных принимает решение о предоставлении его персональных данных и дает согласие на их обработку свободно, своей волей и в своем интересе. Согласие на обработку персональных данных может быть дано субъектом персональных данных или его представителем в любой позволяющей подтвердить факт его получения форме, если иное не установлено федеральным законом.
    p Обязанность предоставить доказательство получения согласия субъекта персональных данных на обработку его персональных данных или доказательство наличия оснований, указанных в ФЗ-152, возлагается на Оператора.
    p 3.2 Права субъекта персональных данных
    p Субъект персональных данных имеет право на получение у Оператора информации, касающейся обработки его персональных данных, если такое право не ограничено в соответствии с федеральными законами. Субъект персональных данных вправе требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.
    p Обработка персональных данных в целях продвижения товаров, работ, услуг на рынке путем осуществления прямых контактов с потенциальным потребителем с помощью средств связи, а также в целях политической агитации допускается только при условии предварительного согласия субъекта персональных данных. Указанная обработка персональных данных признается осуществляемой без предварительного согласия субъекта персональных данных, если Компания не докажет, что такое согласие было получено.
    p Оператор обязан немедленно прекратить по требованию субъекта персональных данных обработку его персональных данных в вышеуказанных целях.
    p Запрещается принятие на основании исключительно автоматизированной обработки персональных данных решений, порождающих юридические последствия в отношении субъекта персональных данных или иным образом затрагивающих его права и законные интересы, за исключением случаев, предусмотренных федеральными законами, или при наличии согласия в письменной форме субъекта персональных данных.
    p Если субъект персональных данных считает, что Оператор осуществляет обработку его персональных данных с нарушением требований ФЗ-152 или иным образом нарушает его права и свободы, субъект персональных данных вправе обжаловать действия или бездействие Оператора в Уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке.
    p Субъект персональных данных имеет право на защиту своих прав и законных интересов, в том числе на возмещение убытков и (или) компенсацию морального вреда в судебном порядке.
    p 4. ОБЕСПЕЧЕНИЕ БЕЗОПАСНОСТИ ПЕРСОНАЛЬНЫХ ДАННЫХ
    p Безопасность персональных данных, обрабатываемых Оператора, обеспечивается реализацией правовых, организационных и технических мер, необходимых для обеспечения требований федерального законодательства в области защиты персональных данных.
    p Для предотвращения несанкционированного доступа к персональным данным Оператором применяются следующие организационно-технические меры:<br/>
      | – назначение должностных лиц, ответственных за организацию обработки и защиты персональных данных;<br />
      | – ограничение состава лиц, имеющих доступ к персональным данным;<br />
      | – ознакомление субъектов с требованиями федерального законодательства и нормативных документов Оператора по обработке и защите персональных данных;<br />
      | – организация учета, хранения и обращения носителей информации;<br />
      | – определение угроз безопасности персональных данных при их обработке, формирование на их основе моделей угроз;<br />
      | – разработка на основе модели угроз системы защиты персональных данных;<br />
      | – проверка готовности и эффективности использования средств защиты информации;<br />
      | – разграничение доступа пользователей к информационным ресурсам и программноаппаратным средствам обработки информации;<br />
      | – регистрация и учет действий пользователей информационных систем персональных данных;<br />
      | – использование антивирусных средств и средств восстановления системы защиты персональных данных;<br />
      | – применение в необходимых случаях средств межсетевого экранирования, обнаружения вторжений, анализа защищенности и средств криптографической защиты информации;<br />
      | – организация пропускного режима на территорию Оператора, охраны помещений с техническими средствами обработки персональных данных.
    p 5. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
    p Иные права и обязанности Оператора, как оператора персональных данных определяются законодательством Российской Федерации в области персональных данных.
    p Должностные лица Оператора, виновные в нарушении норм, регулирующих обработку и защиту персональных данных, несут материальную, дисциплинарную, административную, гражданско-правовую или уголовную ответственность в порядке, установленном федеральными законами.
