section#service.service-area.wrapper
  .container.row
    aside
    article
      .title-decor(data-animation="showFromBottom") 2
      h2.title(data-animation="showFromRight") Помогу разобраться в самых сложных ситуациях
      .subtitle На сеансе гадания на картах Таро
      p Предсказываю чётко и ясно, даю рекомендации по исправлению негативных ситуаций выявленных на консультации. После моего расклада вам не придётся обращаться к магам и колдунам. Я увижу причину ваших проблем и посоветую обряды, которые вы сможете сделать самостоятельно и безопасно. Ваша жизнь изменится в лучшую сторону и засверкает новыми, яркими красками. Мне под силу вернуть в вашу жизнь любовь, мир и покой.
      p Закажите расклад на таро и бонусом нумерологический разбор вашей личности. Карты таро в моих руках – это ваша возможность заглянуть в будущее и понять как и куда двигаться дальше! Как лучше поступить в той или иной ситуации. Гадание провожу как лично, так и дистанционно. Ваша жизнь в ваших руках!
      p Звоните и я буду рада вам помочь разобраться в самых сложных ситуациях!
      .btns-block
        a.btn.primary(data-animation="showFromBottom" href="https://wa.me/79164664434?text=Здравствуйте!%20У%20меня%20есть%20вопрос" title="Записаться в Whatsapp" target="_blank" rel="nofollow") Записаться в WhatsApp
        a.btn.primary.delay-05s(data-animation="showFromBottom" href="https://telegram.im/@daria_bloom" title="Записаться в Telegram" target="_blank" rel="nofollow") Записаться в Telegram
      p
        b + БОНУС
        | – нумерологический разбор Вашей личности

  .wrapper-aside.left(data-animation="showFade")
    img(src='img/bg-service.jpg' alt='Услуга гадания на картах Таро')
