@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700|Source+Sans+Pro:300,400,600,700");

#who-we .who-we-are,
#our-history,
#study .study-content,
#progress .progress-list,
#pricing,
#team ul.team-list,
#clients .clients-list,
#contact .contact-content,
footer .copy {
  display: block;
  width: 70%;
  max-width: 1170px;
  margin: 0 auto;
}

#who-we .who-we-are li span img,
#services .js-services-slider div div.services-slide .service-content .service .service-icon img,
#study .study-content .study-desc .icon-study span,
#progress .progress-list li span img,
#pricing ul.pricing-list li .tariff .price div,
#clients .clients-list li div img {
  display: inline-block;
  vertical-align: middle;
}

#who-we .who-we-are,
#our-history,
#services .js-services-slider div div.services-slide,
#works .work-items,
#progress .progress-list,
#pricing ul.pricing-list,
#clients .clients-list,
#blog .blog-items,
#contact .contact-content,
footer .copy {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header .header-content .menu-link span,
header .header-content .menu-link span::before,
header .header-content .menu-link span::after {
  width: 40px;
  height: 3px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

h2,
h1,
.main-slide h2,
h3,
h4,
#works ul.list-works li a {
  font-family: "Open Sans", sans-serif;
  color: #6a6a6a;
  text-transform: uppercase;
}

header .header-content .menu ul.menu-list li.active a::after,
header .header-content .menu ul.menu-list li:hover a::after,
#who-we .who-we-are li h3::after,
#study .study-content .study-desc h3::after {
  content: '';
  display: block;
  height: 1px;
  margin-top: 10px;
}

#our-history div h2::before,
#services h2::after {
  position: absolute;
  top: 7px;
  content: '';
  display: inline-block;
  width: 6px;
  height: 36px;
  background-color: #e74c3c;
}

.decor-dot-line::before,
.decor-dot-line::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  width: 80px;
  height: 1px;
  background-color: #999;
}

#works .work-items .work-item a:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e74c3c;
  opacity: 0.8;
}

.btn,
.btn-default,
.btn-light {
  display: inline-block;
  width: 225px;
  height: 55px;
  line-height: 55px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.5);
}

h2 {
  margin: 0 0 20px;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 3px;
}

h1,
.main-slide h2 {
  margin: 0 0 20px;
  font-size: 5vw;
  font-weight: 700;
  color: #f4f5f9;
}

h3 {
  margin: 0 0 20px;
  font-size: 1.125rem;
  font-weight: 600;
}

h4 {
  margin: 30px 0 10px;
  font-size: 1.28rem;
  font-weight: 600;
}

p.prologue {
  font-size: 1.5rem;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.7;
  color: #999999;
  background-color: #fff;
}

a {
  color: #e74c3c;
  text-decoration: none;
  transition: all .2s;
}

a:hover,
a:focus {
  color: #f29f97;
}

strong {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='search'],
textarea {
  margin: 0;
  background-color: transparent;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b3b3b3;
}

input[type='text']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='password']::-moz-placeholder,
input[type='search']::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #b3b3b3;
}

input[type='text']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #b3b3b3;
}

input[type='text']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='password']:-moz-placeholder,
input[type='search']:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #b3b3b3;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
}

.clearfix:after,
#works::before {
  content: '';
  display: table;
  clear: both;
}

.btn {
  background-color: #e74c3c;
}

.btn-default {
  background-color: #999;
}

.btn-light {
  border: 1px solid #fff;
}

.decor-dot-line {
  position: relative;
}

.decor-dot-line::before {
  margin-left: -98px;
}

.decor-dot-line::after {
  margin-left: 18px;
}

.decor-dot-line span {
  margin-top: 12px;
}

.dot {
  display: block;
  margin: 0 auto;
  width: 8px;
  height: 8px;
  background-color: #e74c3c;
  border-radius: 50%;
}

.js-main-slider .slick-prev,
.js-main-slider .slick-next {
  z-index: 1100;
  width: 46px;
  height: 46px;
  top: 40%;
  border-radius: 2px;
  background-color: #fff;
  opacity: .2;
}

.js-main-slider .slick-prev:hover,
.js-main-slider .slick-prev:focus,
.js-main-slider .slick-next:hover,
.js-main-slider .slick-next:focus {
  background-color: #e74c3c;
  opacity: 1;
}

.js-main-slider .slick-prev {
  left: 25px;
}

.js-main-slider .slick-prev:hover::before,
.js-main-slider .slick-prev:focus::before {
  background: url(../img/arrows.png) 0 0;
}

.js-main-slider .slick-next {
  right: 25px;
}

.js-main-slider .slick-next:hover::before,
.js-main-slider .slick-next:focus::before {
  background: url(../img/arrows.png) 12px 0;
}

.js-main-slider .slick-prev:before,
.js-main-slider .slick-next:before {
  display: block;
  content: '';
  width: 12px;
  height: 20px;
}

.js-main-slider .slick-prev:before {
  background: url(../img/arrows.png) 0 20px;
  margin-left: 15px;
}

.js-main-slider .slick-next:before {
  background: url(../img/arrows.png) 12px 20px;
  margin-left: 19px;
}

.slick-vertical .slick-slide {
  border: none;
}

.js-services-slider .slick-dots {
  position: absolute;
  top: 50%;
  left: 3%;
  margin-top: -61px;
  width: 2px;
}

.js-services-slider .slick-dots li {
  display: block;
  width: 2px;
  height: 34px;
  margin: 10px 0;
}

.js-services-slider .slick-dots li button {
  float: right;
  width: 1px;
  height: 34px;
  padding: 0;
  background: #3e3e3e;
}

.js-services-slider .slick-dots li button:before {
  line-height: 20px;
  width: 1px;
  height: 34px;
  content: '';
  opacity: 1;
}

.js-services-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  width: 2px;
  height: 34px;
  background: #e74c3c;
}

@keyframes pulse_1 {
  0% {
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
  }

  50% {
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
  }
}

header {
  position: relative;
  width: 100%;
  height: 54.21875vw;
  margin: 0;
}

header::before,
header::after {
  position: absolute;
  z-index: 10;
  content: '';
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #fff;
  border-right: 50vw solid transparent;
}

header::before {
  left: 0;
}

header::after {
  right: 0;
  border-right: none;
  border-left: 50vw solid transparent;
}

header .js-main-slider {
  display: block;
  width: 100%;
  height: 100%;
  background: #5d5d5d;
}

header .js-main-slider .slick-slide div {
  padding: 0;
  margin: 0;
  line-height: 0;
}

header .js-main-slider .slick-slide div .main-slide {
  display: block;
  width: 100%;
  height: 54.21875vw;
  padding: 12vw 0 0;
  line-height: 1.7;
  text-align: center;
  color: #f4f5f9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

header .js-main-slider .slick-slide div .main-slide h1,
header .js-main-slider .slick-slide div .main-slide h2 {
  background: url(../img/bg_headline.png) center bottom no-repeat;
}

header .js-main-slider .slick-slide div .main-slide p {
  font-family: "Open Sans", sans-serif;
  padding: 0 20%;
}

header .js-main-slider .slick-slide div .main-slide .prologue {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: capitalize;
}

header .js-main-slider .slick-slide div .main-slide .btns-slide {
  margin-top: 35px;
  text-align: center;
}

header .js-main-slider .slick-slide div .main-slide .btns-slide a {
  margin: 0 15px;
}

header .header-content {
  position: absolute;
  top: 40px;
  left: 15%;
  display: block;
  width: 70%;
}

header .header-content .logo {
  float: left;
}

header .header-content .logo a img {
  width: 120px;
}

header .header-content .menu-link {
  position: absolute;
  z-index: 1000;
  display: none;
  top: 5px;
  right: 5%;
  width: 40px;
  height: 21px;
}

header .header-content .menu-link span {
  display: inline-block;
}

header .header-content .menu-link span::before {
  display: block;
  content: '';
  margin-top: -13px;
}

header .header-content .menu-link span::after {
  display: block;
  content: '';
  margin-top: 23px;
}

header .header-content .menu-link.active span {
  background-color: transparent;
}

header .header-content .menu-link.active span::before {
  transform: rotate(135deg);
  margin-top: 0;
}

header .header-content .menu-link.active span::after {
  transform: rotate(-135deg);
  margin-top: -3px;
}

header .header-content .menu {
  float: right;
  margin-top: 8px;
}

header .header-content .menu ul.menu-list li {
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

header .header-content .menu ul.menu-list li:first-child {
  margin-left: 0;
}

header .header-content .menu ul.menu-list li a {
  display: inline-block;
  color: #f4f5f9;
  transition: all .2s;
}

header .header-content .menu ul.menu-list li a::before {
  display: block;
  content: attr(aria-label);
  font-weight: 700;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

header .header-content .menu ul.menu-list li.active a,
header .header-content .menu ul.menu-list li:hover a {
  color: #e74c3c;
  font-weight: 700;
}

header .header-content .menu ul.menu-list li.active a::after,
header .header-content .menu ul.menu-list li:hover a::after {
  width: 100%;
  background-color: #e74c3c;
}

header .btn-more {
  position: absolute;
  z-index: 11;
  bottom: -27px;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  height: 64px;
  line-height: 59px;
  border-radius: 50%;
  text-align: center;
  background-color: #f4f5f9;
  animation: pulse_1 3s ease-in infinite alternate;
}

header .btn-more span {
  width: 22px;
  height: 31px;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  transition: all 1.5s;
}

header .btn-more:hover span {
  margin-top: 25px;
}

#who-we {
  padding: 7vw 0;
  background-color: #fff;
  border-bottom: 1px solid #e6e7eb;
}

#who-we .who-we-are li {
  flex-basis: 23%;
  text-align: center;
  padding: 30px 0 0;
}

#who-we .who-we-are li span {
  position: relative;
  display: block;
  width: 72px;
  height: 72px;
  line-height: 72px;
  margin: 0 auto;
}

#who-we .who-we-are li span::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  transition: all .2s;
}

#who-we .who-we-are li h3 {
  margin-top: 25px;
}

#who-we .who-we-are li h3::after {
  width: 40px;
  margin: 15px auto 0;
  background-color: #6a6a6a;
}

#who-we .who-we-are li:hover span::after {
  transform: rotate(-45deg);
  border: 1px solid #e74c3c;
}

#who-we .who-we-are li:hover h3 {
  color: #e74c3c;
}

#our-history {
  padding: 7vw 0;
}

#our-history div {
  flex-basis: 50%;
}

#our-history div img {
  width: 85%;
  height: auto;
}

#our-history div h2 {
  position: relative;
  margin-top: -5px;
  padding-left: 20px;
}

#our-history div h2::before {
  left: 0;
  margin-right: 20px;
}

#our-history div .btn {
  margin-top: 40px;
}

#services {
  position: relative;
  width: 100%;
  padding: 0;
  height: auto;
}

#services h2 {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: calc(48% + 80px);
  color: #fff;
  text-align: right;
  padding-right: 20px;
}

#services h2::after {
  right: 0;
  margin-left: 20px;
}

#services .js-services-slider {
  display: block;
  width: 100%;
  height: 42.2vw;
}

#services .js-services-slider div div.services-slide {
  align-items: stretch;
  background-color: #202020;
}

#services .js-services-slider div div.services-slide .service-content {
  align-self: flex-end;
  width: 52%;
  height: 100%;
  margin: 0 0 70px;
  padding: 0;
  line-height: 0;
}

#services .js-services-slider div div.services-slide .service-content .service {
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 80px;
  text-align: right;
  line-height: 1.7;
}

#services .js-services-slider div div.services-slide .service-content .service h4 {
  color: #e74c3c;
}

#services .js-services-slider div div.services-slide .service-content .service p {
  padding-left: 16%;
}

#services .js-services-slider div div.services-slide .service-content .service .service-icon {
  position: absolute;
  z-index: 100;
  top: 20%;
  right: -29px;
  width: 58px;
  height: 58px;
  line-height: 53px;
  border-radius: 50%;
  text-align: center;
  background-color: #f4f5f9;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
}

#services .js-services-slider div div.services-slide .service-content .service .service-icon img {
  width: auto;
  height: auto;
  min-height: auto;
}

#services .js-services-slider div div.services-slide .img-service {
  align-self: stretch;
  width: 48%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
  overflow: hidden;
}

#services .js-services-slider div div.services-slide .img-service img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  line-height: 0;
}

#works {
  padding: 6vw 0 0;
  text-align: center;
}

#works ul.list-works {
  margin: 45px 0 30px;
  text-align: center;
}

#works ul.list-works li {
  position: relative;
  display: inline-block;
  padding: 0 17px 0 10px;
}

#works ul.list-works li a {
  color: #999;
  transition: all .05s;
}

#works ul.list-works li a::before {
  display: block;
  content: attr(aria-label);
  font-weight: 700;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

#works ul.list-works li a:active,
#works ul.list-works li a:hover,
#works ul.list-works li a.active {
  color: #e74c3c;
  font-weight: 700;
}

#works ul.list-works li::after {
  position: absolute;
  content: '/';
  top: 0;
  right: 0;
}

#works ul.list-works li:first-child {
  padding-left: 0;
}

#works ul.list-works li:last-child {
  padding-right: 0;
}

#works ul.list-works li:last-child::after {
  content: '';
}

#works .work-items {
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#works .work-items .work-item {
  position: relative;
  flex-basis: 25%;
  overflow-x: hidden;
}

#works .work-items .work-item a h4,
#works .work-items .work-item a p {
  position: absolute;
  z-index: 10;
  left: 50px;
  bottom: 60px;
  color: #fff;
  margin-left: -100%;
  transition: all .2s;
}

#works .work-items .work-item a img {
  display: block;
  line-height: 0;
  max-width: 100%;
}

#works .work-items .work-item a:hover h4 {
  margin-left: 0;
}

#works .work-items .work-item a:hover h4::before {
  content: '';
  display: block;
  width: 44px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 15px;
}

#works .work-items .work-item a:hover p {
  margin-left: 0;
  bottom: 35px;
}

#study {
  padding: 6vw 0;
  background-color: #f4f5f9;
  text-align: center;
}

#study .study-content {
  padding: 45px 0;
  margin: 50px auto 0;
  background: url(../img/bg_study.jpg) right top no-repeat;
}

#study .study-content .study-desc {
  width: 56%;
  padding: 80px 5% 100px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.28);
}

#study .study-content .study-desc .icon-study {
  position: relative;
  display: block;
  width: 127px;
  height: 127px;
  line-height: 127px;
  margin: 0 auto 15px;
}

#study .study-content .study-desc .icon-study::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 3px;
  left: 15px;
  width: 95px;
  height: 95px;
  background-color: #e74c3c;
  transform: rotate(45deg);
  transition: all .2s;
}

#study .study-content .study-desc .icon-study:hover::before {
  transform: rotate(0deg);
}

#study .study-content .study-desc .icon-study span {
  position: relative;
  z-index: 10;
}

#study .study-content .study-desc h3::after {
  width: 40px;
  margin: 20px auto 0;
  background-color: #6a6a6a;
}

#study .study-content .study-desc .btn {
  margin-top: 30px;
}

#progress {
  height: auto;
  padding: 7vw 0;
  background: #0d0401 url(../img/bg_progress.jpg) no-repeat;
  background-size: cover;
}

#progress .progress-list li {
  text-align: center;
  color: #fff;
}

#progress .progress-list li span {
  display: inline-block;
  width: 112px;
  height: 112px;
  line-height: 112px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
}

#progress .progress-list li p {
  margin-top: 20px;
}

#progress .progress-list li p strong {
  font-size: 1.8rem;
  display: block;
}

#pricing {
  padding: 7vw 0;
  text-align: center;
}

#pricing ul.pricing-list {
  margin-top: 30px;
}

#pricing ul.pricing-list li {
  flex-basis: 32%;
  margin: 0;
  padding: 0 0 50px;
  background-color: #f4f5f9;
}

#pricing ul.pricing-list li .tariff {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  margin: 0;
  padding-top: 45px;
  background-color: #999;
}

#pricing ul.pricing-list li .tariff h4 {
  margin-top: 0;
  font-size: 1.8rem;
  color: #fff;
}

#pricing ul.pricing-list li .tariff .price {
  position: absolute;
  z-index: 11;
  bottom: -77px;
  left: 50%;
  margin-left: -77px;
  width: 154px;
  height: 154px;
  line-height: 149px;
  border-radius: 50%;
  text-align: center;
  background-color: #f4f5f9;
}

#pricing ul.pricing-list li .tariff .price div {
  line-height: 1.1;
}

#pricing ul.pricing-list li .tariff .price div strong {
  display: block;
  margin: 0;
  font-size: 3.5rem;
}

#pricing ul.pricing-list li .tariff .semicircle {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 50%;
  margin-left: -87px;
  width: 174px;
  height: 87px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

#pricing ul.pricing-list li p {
  margin-top: 100px;
  padding: 0 20%;
  text-transform: capitalize;
}

#pricing ul.pricing-list li:hover .tariff {
  background-color: #e74c3c;
}

#pricing ul.pricing-list li:hover .tariff .price div strong {
  color: #e74c3c;
}

#pricing ul.pricing-list li:hover .btn-default {
  background-color: #e74c3c;
}

#team {
  display: block;
  width: 100%;
  height: 38.3vw;
  padding: 6vw 0 0;
  text-align: center;
  color: #fff;
  background: #0d0401 url(../img/bg_team.jpg) no-repeat;
  background-size: cover;
}

#team h2 {
  color: #fff;
}

#team ul.team-list {
  display: block;
  position: relative;
  height: 60%;
  margin-top: 50px;
}

#team ul.team-list li {
  position: absolute;
  text-align: center;
}

#team ul.team-list li .team-img {
  width: 50px;
  height: 50px;
  border: 3px solid #e74c3c;
  border-radius: 50%;
  transition: all .5s;
}

#team ul.team-list li .team-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#team ul.team-list li .team-img::after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 0;
  background-color: #fff;
  margin-top: -3px;
}

#team ul.team-list li:nth-child(1) {
  left: 0;
  top: 33%;
}

#team ul.team-list li:nth-child(2) {
  left: calc(25% - 12px);
  top: 14%;
}

#team ul.team-list li:nth-child(3) {
  left: 50%;
  top: 11%;
  margin: 0 0 0 -25px;
}

#team ul.team-list li:nth-child(4) {
  left: calc(75% - 38px);
  top: 21%;
}

#team ul.team-list li:nth-child(5) {
  right: calc(0% - 45px);
  top: 0;
}

#team ul.team-list li .team-desc {
  width: 140px;
  text-align: center;
  margin-left: -45px;
  opacity: 0;
  transition: all .5s;
}

#team ul.team-list li .team-desc p:first-child {
  font-size: 1.3rem;
  color: #e74c3c;
  margin-bottom: 0;
}

#team ul.team-list li .team-desc p:last-child {
  margin-top: 0;
}

#team ul.team-list li:hover .team-img {
  transform: scale(1.4, 1.4);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.55);
}

#team ul.team-list li:hover .team-img::after {
  height: 35px;
}

#team ul.team-list li:hover .team-desc {
  transform: translate(0, 50px);
  opacity: 1;
}

#clients {
  width: 100%;
  padding: 7vw 0;
  text-align: center;
  border-bottom: 1px solid #e6e7eb;
  background-color: #f4f5f9;
}

#clients .decor-dot-line {
  padding: 0 25%;
}

#clients .clients-list {
  flex-wrap: wrap;
}

#clients .clients-list li {
  flex-basis: 17%;
  height: 100px;
  margin: 15px 0;
  background-color: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  transition: all .5s ease;
}

#clients .clients-list li div {
  height: 100%;
  width: 100%;
  line-height: 92px;
  opacity: .4;
}

#clients .clients-list li div img {
  max-width: 70%;
  max-height: 60px;
}

#clients .clients-list li:hover {
  background-color: #e74c3c;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.4);
}

#clients .clients-list li:hover div {
  filter: grayscale(100%);
  opacity: 1;
}

#clients .clients-list li:hover div img {
  filter: brightness(20);
}

#blog {
  padding: 6vw 0 0;
  text-align: center;
  background-color: #f4f5f9;
}

#blog .blog-items {
  width: 100%;
  margin-top: 3vw;
  flex-wrap: wrap;
}

#blog .blog-items .blog-item {
  flex-basis: 50%;
  position: relative;
}

#blog .blog-items .blog-item .blog-img {
  width: 50%;
  overflow: hidden;
}

#blog .blog-items .blog-item .blog-img img {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0;
  transition: all 2s;
}

#blog .blog-items .blog-item .blog-desc {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 30px 7% 0;
  text-align: left;
  color: #fff;
  background-color: #e74c3c;
}

#blog .blog-items .blog-item .blog-desc h4 {
  color: #fff;
}

#blog .blog-items .blog-item .blog-desc h4::after {
  content: '';
  display: block;
  width: 44px;
  height: 4px;
  background-color: white;
  margin-top: 10px;
}

#blog .blog-items .blog-item .blog-desc h4 a {
  color: #fff;
}

#blog .blog-items .blog-item .blog-desc h4:hover::after {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

#blog .blog-items .blog-item .blog-desc h4:hover a {
  opacity: .8;
}

#blog .blog-items .blog-item .blog-desc p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
}

#blog .blog-items .blog-item .blog-desc a.read-more {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
  font-style: italic;
  transition: all .3s;
}

#blog .blog-items .blog-item .blog-desc a.read-more:hover {
  opacity: .8;
  margin-left: 15px;
}

#blog .blog-items .blog-item::after {
  position: absolute;
  z-index: 2;
  content: '';
  left: calc(50% - 27px);
  top: calc(50% - 30px);
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 27px solid #e74c3c;
  border-bottom: 30px solid transparent;
}

#blog .blog-items .blog-item:nth-child(3)::after,
#blog .blog-items .blog-item:nth-child(4)::after {
  left: 50%;
  border-right: none;
  border-left: 27px solid #e74c3c;
}

#blog .blog-items .blog-item:nth-child(3) .blog-img,
#blog .blog-items .blog-item:nth-child(4) .blog-img {
  margin-left: 50%;
}

#blog .blog-items .blog-item:nth-child(3) .blog-desc,
#blog .blog-items .blog-item:nth-child(4) .blog-desc {
  left: 0;
}

#blog .blog-items .blog-item:hover .blog-img img {
  transform: scale(1.3, 1.3);
}

#contact {
  padding: 6vw 0;
  text-align: center;
  background-color: #f4f5f9;
}

#contact .contact-content {
  margin-top: 3vw;
  align-items: stretch;
}

#contact .contact-content > div {
  width: 40%;
  padding: 0 5% 4vw;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

#contact .contact-content > div:first-child {
  font-size: 1.3rem;
}

#contact .contact-content > div:last-child {
  width: 58%;
  padding: 3vw 5% 4vw;
}

#contact .contact-content > div h3 {
  margin: 3.5vw 0 5px;
  color: #e74c3c;
}

#contact .contact-content > div p span {
  display: block;
}

#contact .contact-content > div form fieldset input,
#contact .contact-content > div form fieldset textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 10px 10px 0;
  margin-bottom: 25px;
}

#contact .contact-content > div form div .btn {
  border: none;
  cursor: pointer;
}

footer {
  background-color: #202020;
}

footer .promo {
  padding: 4.5vw 0 7vw;
  text-align: center;
  background: url(../img/bg_promo.jpg) no-repeat;
  background-size: cover;
}

footer .promo h4 {
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  font-size: 2.6rem;
  color: #fff;
  margin-bottom: 0;
  line-height: 1;
}

footer .promo h4 span {
  font-weight: 300;
}

footer .promo p {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 35px;
}

footer .copy {
  align-items: center;
  padding: 15px 0;
}

footer .copy div a {
  margin-right: 13px;
  filter: grayscale(100%);
  filter: brightness(0);
}

footer .copy div a:hover {
  filter: grayscale(0);
  filter: brightness(1);
}

#scrollup {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s ease;
  position: fixed;
  left: calc(99% - 53px);
  bottom: 57px;
  width: 53px;
  height: 53px;
  line-height: 46px;
  background: #e74c3c;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  padding: 0;
  font-size: 44px;
  font-weight: 300;
  color: #fff;
  transform: rotate(-90deg);
}

#scrollup.scrollup--active {
  opacity: 0.8;
  visibility: visible;
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  #services h2 {
    top: 25px;
    right: calc(40% + 80px);
  }

  #services h2 {
    right: calc(35% + 80px);
  }

  #services .js-services-slider {
    height: 50vw;
  }

  #services .js-services-slider div div.services-slide .service-content {
    width: 60%;
    margin: 0 0 35px;
  }

  #services .js-services-slider div div.services-slide .service-content .service {
    line-height: 1.35;
  }

  #services .js-services-slider div div.services-slide .img-service {
    width: 40%;
  }

  #services .js-services-slider div div.services-slide .img-service img {
    height: 50vw;
  }

  #team {
    height: 42vw;
  }

  #team ul.team-list {
    margin-top: 40px;
  }

  #team ul.team-list li:nth-child(3) {
    top: 9%;
  }

  #team ul.team-list li:nth-child(4) {
    top: 19%;
  }

  #team ul.team-list li:nth-child(5) {
    top: 13%;
  }

  #blog .blog-items .blog-item .blog-desc {
    padding: 0 4%;
  }

  #blog .blog-items .blog-item .blog-desc h4 {
    margin-top: 0;
  }

  #blog .blog-items .blog-item .blog-desc h4::after {
    margin-top: 3px;
  }

  #blog .blog-items .blog-item .blog-desc h4 + p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 1024px) {
  #team ul.team-list {
    margin-top: 20px;
  }

  #team ul.team-list li:hover .team-desc {
    transform: translate(0, 35px);
  }
}

@media screen and (max-width: 992px) {
  header {
    height: 62vw;
  }

  header .js-main-slider .slick-slide div .main-slide {
    height: 62vw;
  }

  header .js-main-slider .slick-slide div .main-slide .prologue {
    line-height: 1;
    margin-bottom: 0;
  }

  header .js-main-slider .slick-slide div .main-slide .btns-slide a {
    width: 190px;
    height: 45px;
    line-height: 45px;
  }

  header .header-content {
    left: 5%;
    width: 90%;
  }

  header .header-content .menu ul.menu-list li a {
    font-size: 0.9rem;
  }

  #who-we .who-we-are {
    width: 90%;
  }

  #our-history {
    width: 90%;
  }

  #services .js-services-slider {
    height: 58vw;
  }

  #services .js-services-slider div div.services-slide .service-content {
    width: 65%;
  }

  #services .js-services-slider div div.services-slide .service-content .service {
    line-height: 1.2;
  }

  #services .js-services-slider div div.services-slide .service-content .service h4 {
    font-size: 1rem;
    line-height: 1;
  }

  #services .js-services-slider div div.services-slide .service-content .service p {
    font-size: 0.95rem;
  }

  #services .js-services-slider div div.services-slide .img-service {
    width: 35%;
  }

  #services .js-services-slider div div.services-slide .img-service img {
    transform: scale(1.4, 1.4);
    height: 58vw;
  }

  #study .study-content {
    width: 90%;
  }

  #progress .progress-list {
    width: 90%;
  }

  #pricing {
    width: 90%;
  }

  #pricing ul.pricing-list li .btn-default {
    width: 80%;
    height: 55px;
    line-height: 55px;
  }

  #team {
    height: 44vw;
  }

  #team ul.team-list {
    width: 82%;
  }

  #team ul.team-list li .team-img::after {
    margin-bottom: 7px;
  }

  #team ul.team-list li:nth-child(1) {
    top: 41%;
  }

  #team ul.team-list li:nth-child(2) {
    top: 18%;
  }

  #team ul.team-list li:nth-child(4) {
    top: 17%;
  }

  #team ul.team-list li:nth-child(5) {
    top: 11%;
  }

  #team ul.team-list li:hover .team-img {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.55);
  }

  #team ul.team-list li:hover .team-img::after {
    height: 13px;
  }

  #team ul.team-list li:hover .team-desc {
    transform: translate(0, 10px);
  }

  #clients .clients-list {
    width: 90%;
  }

  #clients .clients-list li {
    flex-basis: 19%;
  }

  #blog .blog-items .blog-item .blog-desc h4 + p {
    height: 53px;
    overflow: hidden;
  }

  #contact .contact-content {
    width: 90%;
    margin: 3vw auto 0;
  }

  footer .copy {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 1.1rem;
  }

  .js-main-slider .slick-prev {
    left: 5px;
  }

  .js-main-slider .slick-next {
    right: 5px;
  }

  header {
    height: 70vw;
  }

  header .js-main-slider .slick-slide {
    height: 70vw !important;
  }

  header .js-main-slider .slick-slide div .main-slide {
    height: 70vw;
    padding: 15vw 0 0;
  }

  header .js-main-slider .slick-slide div .main-slide p {
    font-size: 0.85rem;
    padding: 0 12%;
    margin-bottom: 0;
  }

  header .header-content {
    left: 0;
    width: 100%;
  }

  header .header-content .logo {
    margin-left: 5%;
  }

  header .header-content .menu-link {
    display: block;
  }

  header .header-content .menu {
    float: none;
    margin: 0;
    display: block;
    position: fixed;
    z-index: 999;
    width: 100%;
    max-width: 100vw;
    top: 0;
    left: 100%;
    background-color: rgba(24, 8, 6, 0.8);
    overflow: hidden;
    transition: all 0.5s;
  }

  header .header-content .menu ul.menu-list {
    width: 100%;
    padding: 30px 0 60px;
  }

  header .header-content .menu ul.menu-list li {
    display: block;
    width: 100%;
    margin: 20px 0;
    margin-left: 0;
  }

  header .header-content .menu ul.menu-list li a {
    position: relative;
    font-size: 1rem;
  }

  header .header-content .menu ul.menu-list li.active a::after,
  header .header-content .menu ul.menu-list li:hover a::after {
    position: absolute;
    bottom: -10px;
    left: 0;
  }

  header .header-content .menu.active {
    left: 0;
  }

  #services h2 {
    right: 13%;
  }

  #services .js-services-slider {
    height: auto;
  }

  #services .js-services-slider div div.services-slide .service-content {
    width: 100%;
    padding: 70px 0 0;
    margin: 0;
  }

  #services .js-services-slider div div.services-slide .service-content .service {
    padding-right: 50px;
  }

  #services .js-services-slider div div.services-slide .service-content .service .service-icon {
    display: none;
  }

  #services .js-services-slider div div.services-slide .img-service {
    width: 0;
    display: none;
  }

  #progress .progress-list li span {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }

  #team {
    height: 62vw;
    padding: 4.5vw 0 0;
  }

  #team h2 {
    margin-bottom: 5px;
  }

  #team p.decor-dot-line {
    margin-top: 0;
  }

  #team ul.team-list {
    margin-top: 80px;
  }

  #team ul.team-list li:nth-child(2) {
    top: 24%;
  }

  #team ul.team-list li:nth-child(3) {
    top: 12%;
  }

  #team ul.team-list li:nth-child(4) {
    top: 10%;
  }

  #team ul.team-list li:nth-child(5) {
    top: 12%;
  }

  #team ul.team-list li .team-desc {
    line-height: 1.1;
  }

  #blog .blog-items .blog-item {
    flex-basis: 100%;
  }

  #blog .blog-items .blog-item .blog-desc {
    padding: 40px 7% 0;
  }

  #blog .blog-items .blog-item .blog-desc h4 {
    margin-top: 20px;
  }

  #blog .blog-items .blog-item .blog-desc h4 + p {
    font-size: 0.85rem;
    min-height: 95px;
  }

  #blog .blog-items .blog-item:nth-child(2)::after {
    left: 50%;
    border-right: none;
    border-left: 27px solid #e74c3c;
  }

  #blog .blog-items .blog-item:nth-child(2) .blog-img {
    margin-left: 50%;
  }

  #blog .blog-items .blog-item:nth-child(2) .blog-desc {
    left: 0;
  }

  #blog .blog-items .blog-item:nth-child(3)::after {
    left: calc(50% - 27px);
    border-left: none;
    border-right: 27px solid #e74c3c;
  }

  #blog .blog-items .blog-item:nth-child(3) .blog-img {
    margin-left: 0;
  }

  #blog .blog-items .blog-item:nth-child(3) .blog-desc {
    left: 50%;
  }

  #contact .contact-content > div h3 {
    margin: 5vw 0 0;
    line-height: 1.25;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 86vw;
  }

  header .js-main-slider .slick-slide {
    height: 86vw !important;
  }

  header .js-main-slider .slick-slide div .main-slide {
    height: 86vw;
  }

  header .js-main-slider .slick-slide div .main-slide .btns-slide {
    margin-top: 15px;
  }

  #team ul.team-list {
    margin-top: 40px;
  }

  #team ul.team-list li:nth-child(4) {
    top: 8%;
  }

  #team ul.team-list li:nth-child(5) {
    top: 9%;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.7rem;
    padding: 0 8%;
  }

  header {
    height: 140vw;
  }

  header::before,
  header::after {
    border-bottom: 50px solid #fff;
  }

  header .js-main-slider .slick-slide {
    height: 140vw !important;
  }

  header .js-main-slider .slick-slide div .main-slide {
    height: 140vw;
    padding: 28vw 0 0;
  }

  header .js-main-slider .slick-slide div .main-slide h1,
  header .js-main-slider .slick-slide div .main-slide h2 {
    font-size: 7vw;
  }

  header .js-main-slider .slick-slide div .main-slide p {
    padding: 0 22%;
  }

  header .js-main-slider .slick-slide div .main-slide .btns-slide a {
    margin: 5px 15px;
  }

  header .header-content {
    top: 20px;
  }

  #who-we .who-we-are {
    flex-wrap: wrap;
  }

  #who-we .who-we-are li {
    flex-basis: 90%;
    margin: 5% auto;
  }

  #our-history {
    flex-wrap: wrap;
    padding: 12vw 0;
  }

  #our-history div {
    flex-basis: 90%;
    margin: 20px auto;
  }

  #our-history div:first-child {
    text-align: center;
  }

  #our-history div .btn {
    width: 225px;
    margin-top: 20px;
    margin-left: calc(50% - 112px);
  }

  #services .js-services-slider div div.services-slide .service-content .service {
    padding-right: 30px;
  }

  #works {
    padding: 12vw 0 0;
  }

  #works .decor-dot-line {
    padding: 0 12%;
  }

  #works .work-items .work-item {
    flex-basis: 50%;
  }

  #study {
    padding: 12vw 0;
  }

  #study .decor-dot-line {
    padding: 0 12%;
  }

  #study .study-content {
    margin: 30px auto;
    background: url(../img/bg_study.jpg) left -15% top 0 no-repeat;
  }

  #study .study-content .study-desc {
    width: 75%;
    padding: 40px 5% 60px;
  }

  #progress .progress-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #progress .progress-list li {
    flex-basis: 50%;
    margin: 20px 0;
  }

  #pricing {
    padding: 12vw 0;
  }

  #pricing ul.pricing-list {
    flex-wrap: wrap;
  }

  #pricing ul.pricing-list li {
    flex-basis: 90%;
    margin: 0 auto 15px;
  }

  #pricing ul.pricing-list li p {
    margin-top: 75px;
  }

  #team {
    height: 130vw;
    padding: 8vw 0 0;
  }

  #team ul.team-list {
    width: 100%;
    margin-top: 30px;
  }

  #team ul.team-list li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: 120px;
  }

  #team ul.team-list li .team-img {
    display: block;
    margin-left: calc(50% - 25px);
  }

  #team ul.team-list li:nth-child(1) {
    top: 0;
    left: 0;
  }

  #team ul.team-list li:nth-child(2) {
    top: 0;
    left: 0;
  }

  #team ul.team-list li:nth-child(3) {
    top: 0;
    left: 0;
    margin: 0;
  }

  #team ul.team-list li:nth-child(4) {
    top: 0;
    left: 0;
  }

  #team ul.team-list li:nth-child(5) {
    top: 0;
    right: 0;
  }

  #team ul.team-list li .team-desc {
    margin-left: calc(50% - 70px);
  }

  #clients {
    padding: 12vw 0;
  }

  #clients .decor-dot-line {
    padding: 0 12%;
  }

  #clients .clients-list li {
    flex-basis: 47%;
  }

  #blog {
    padding: 12vw 0 0;
  }

  #blog .decor-dot-line {
    padding: 0 12%;
  }

  #blog .blog-items {
    margin-top: 6vw;
  }

  #blog .blog-items .blog-item .blog-desc {
    padding: 0 4%;
  }

  #blog .blog-items .blog-item .blog-desc h4 {
    margin-top: 5px;
  }

  #blog .blog-items .blog-item .blog-desc a.read-more {
    display: none;
  }

  #blog .blog-items .blog-item::after {
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    border-top: 20px solid transparent;
    border-right: 20px solid #e74c3c;
    border-bottom: 20px solid transparent;
  }

  #blog .blog-items .blog-item:nth-child(2)::after {
    border-left: 20px solid #e74c3c;
  }

  #blog .blog-items .blog-item:nth-child(3)::after {
    left: calc(50% - 20px);
    border-right: 20px solid #e74c3c;
  }

  #blog .blog-items .blog-item:nth-child(4)::after {
    border-left: 20px solid #e74c3c;
  }

  #contact {
    padding: 12vw 0;
  }

  #contact .decor-dot-line {
    padding: 0 12%;
  }

  #contact .contact-content {
    flex-wrap: wrap;
  }

  #contact .contact-content > div {
    width: 100%;
    margin: 10px auto;
    padding: 7vw 15%;
  }

  #contact .contact-content > div:last-child {
    width: 100%;
    padding: 7vw 15% 10vw;
  }

  #contact .contact-content > div form div {
    text-align: center;
  }

  footer .promo h4 {
    padding: 0 10%;
  }

  footer .promo p {
    padding: 0 10%;
  }

  footer .copy {
    flex-wrap: wrap;
  }

  footer .copy div {
    margin: auto;
  }

  #scrollup {
    left: calc(96% - 53px);
  }
}

@media screen and (max-width: 320px) {
  header {
    height: 170vw;
  }

  header .js-main-slider .slick-slide {
    height: 170vw !important;
  }

  header .js-main-slider .slick-slide div .main-slide {
    height: 170vw;
    padding: 32vw 0 0;
  }

  #works ul.list-works {
    margin: 45px 6% 30px;
  }

  #works .work-items .work-item a h4,
  #works .work-items .work-item a p {
    left: 25px;
  }

  #study .study-content {
    background: url(../img/bg_study.jpg) left -10% top 0 no-repeat;
  }

  #study .study-content .study-desc {
    width: 90%;
  }

  #pricing ul.pricing-list li {
    flex-basis: 100%;
  }

  #team {
    height: 170vw;
  }

  #clients .clients-list li {
    flex-basis: 80%;
    margin: 15px auto;
  }

  #blog .blog-items .blog-item .blog-desc h4 + p {
    height: 60px;
    min-height: 60px;
  }

  #contact .contact-content > div {
    padding: 7vw 10%;
  }

  #contact .contact-content > div:last-child {
    padding: 7vw 10%;
  }

  #scrollup {
    left: calc(90% - 53px);
    bottom: 25px;
  }
}
