.container-menu {
  width: 610px;
  min-height: 233px;
  margin: 0 auto;
}

.context-menu {
  position: absolute;
  border: 1px solid #ccc;
  background: #fff;
}

.context-menu li {
  cursor: pointer;
  width: 150px;
  padding: 7px 0;
}

.context-menu li ul {
  position: absolute;
  margin: -20px 0 0 150px;
  border: 1px solid #ccc;
  background: #fff;
}
