section#about.about-area.wrapper
  .container.row
    article
      .title-decor(data-animation="showFromBottom") 1
      h2.title(data-animation="showFromRight") Обо мне
      .subtitle Предсказательница Дарья Блум
      p Рада приветствовать вас на своём сайте!<br/>
        | Я родилась со способностями, которые проявились в 5 лет. В 12 лет моя прабабушка подарила мне мою первую колоду таро с которой я не расстаюсь и по сей день. Все женщины в нашей семье гадали и гадают на картах таро. С детства я изучала арканы и сочетания карт, а моя прабабушка посвящала меня в тайны раскладов и влияния карт в разных сферах жизни. Так же прабабушка открыла для меня секреты магии, которыми я пользуюсь для помощи моим клиентам в самых сложных жизненных ситуациях. От меня вы уйдёте не только с информацией о происходящем, но и с чёткими рекомендациями, как можно исправить ту или иную ситуацию. Вы можете мне доверять! Эффективность моей работы доказана многолетней практикой и отзывами благодарных клиентов. Звоните прямо сейчас!
    aside
  .wrapper-aside.right(data-animation="showFade")
    #certificate.photogallery
      a(href='img/certif-large.jpg' data-sub-html="Сертификат таролога Дарьи Блум")
        picture
          source(srcset="img/certif.jpg" media="(min-width: 992px)")
          source(srcset="img/certif-front.jpg")
          img(src='img/certif.jpg' alt='Сертификат таролога Дарьи Блум')
