section#faq.faq-area
  .container
    .area-header
      .title-decor.modif(data-animation="showFromBottom") 4
      h2.title(data-animation="showFromRight") Меня часто спрашивают
      .subtitle Вопросы и ответы
    .faq-block
      div
        input#question1(type='radio', name='faq', checked)
        label.question(for='question1')
          | Сколько стоит сеанс гадания на картах Таро?
          .plus +
        .answer
          p Цена всегда индивидуальна, ибо проблемы моих клиентов не похожи друг на друга. В каждом конкретном случае требуется определённое количество усилий, времени и магических материалов.
      div
        input#question2(type='radio', name='faq')
        label.question(for='question2')
          | Как проходит еженедельная онлайн консультация по Скайп?
          .plus +
        .answer
          p Мы с вами договариваемся о способе (телефонный разговор, скайп и т.д.) и времени, созваниваемся и я отвечаю на ваши вопросы.
      div
        input#question3(type='radio', name='faq')
        label.question(for='question3')
          | Какова длительность консультации?
          .plus +
        .answer
          p Длительность консультации зависит от количества ваших вопросов или объема сферы вашего вопроса, обычно занимает от 30 до 90 минут.
      div
        input#question4(type='radio', name='faq')
        label.question(for='question4')
          | Что требуется от клиента?
          .plus +
        .answer
          p От вас мне требуется ваша фио, дата рождения, ваше свежее фото, а также имя, фото (по возможности) и дата рождения тех людей, кто фигурирует раскладе (партнер по бизнесу, муж, ребенок и т.п.).
