footer.footer-area
  ul
    li
      a.footer-logo(href='#home' title='Таролог Дарья Блум')
        img(src='img/logo.svg' alt='Таролог Дарья Блум')
        .site-logo-tagline Гадание на картах Таро
    li
      .separator
    li
      span.copyright ©
      | 2021 – DARIA-BLOOM.ru
      a.popup-trigger(href="#" data-popup-trigger="two") Политика конфиденциальности
    li
      .separator
    li
      | WhatsApp Telegram:
      a.phone(href="tel:+79164664434") 89164664434
    li
      .separator
    li Ограничение по возрасту
      img.limit-icon(src='img/18-plus.svg' alt='18 плюс')
