header.header-area
  .navbar-area
    .container
      nav.site-navbar
        .site-logo
          a(href='/' title='Таролог Дарья Блум')
            img(src='img/logo.svg' alt='Таролог Дарья Блум')
            .site-logo-tagline Таро – возможность услышать истинного себя,
              span заглянув в ближайшее будущее.
        ul.navbar-list
          li
            a(href='/') Главная
          li
            a(href='#about') Обо мне
          li
            a(href='#faq') FAQ
          li
            a(href='#service') Гадание         
          li
            a(href='#gallery') Галерея
          li
            a(href='#reviews') Отзывы 
          li
            a(href='#contact') Контакты
        // nav-toggler for mobile version only
        button.nav-toggler
          span
  // navbar-area end
  .intro-area
    .container.row
      .half-row
        img(src='img/bg-intro.jpg' alt='Гадание на картах Таро')
      .half-row
        .subtitle(data-animation="showFade") Таролог Дарья Блум
        h1 Предсказание-гадание на картах Таро
        p По фото и дате рождения вы получите  подробное предсказание на старинных картах дистанционно по всему миру.
        .btns-block
          a.btn.primary(data-animation="showFromBottom" href="https://wa.me/79164664434?text=Здравствуйте!%20У%20меня%20есть%20вопрос" title="Whatsapp" target="_blank" rel="nofollow") Написать в WhatsApp
          a.btn.primary.delay-05s(data-animation="showFromBottom" href="https://telegram.im/@daria_bloom" title="Написать в Telegram" target="_blank" rel="nofollow") Написать в Telegram
