section#reviews.reviews-area
  .container
    .title-decor.modif(data-animation="showFromBottom") 3
    h2.title(data-animation="showFromRight") Отзывы
    .subtitle Некоторых моих клиентов
    #reviewsList.splide
      .splide__track
        ul.splide__list
          li.splide__slide(data-animation="showFromBottom")
            .review
              .review-author
                span Катя
                | (Москва)
              .review-date 26 декабря 2020 г.
              p Я позвонила Дарье с бедой - муж бросил меня с двумя детьми! Младшему было всего полтора года. Это было отчаяние. Во-первых, я его очень люблю, во-вторых, я просто оказалась на краю жизненной пропасти с малыми на руках. Я умолялал ее вернуть мужа и она помогла мне. Мы снова вместе и снова счастливы! Спасибо Вам Даша!
          li.splide__slide.delay-05s(data-animation="showFromBottom")
            .review
              .review-author
                span Анна
                | (Москва)
              .review-date 9 ноября 2020 г.
              p На самом деле, изначально я была настроена очень скептически, потому что не особо верю в это всё. Нооо... когда тебе человек говорит вещи, какие-то факты и вот что-то такое прям очень личное, что-то что сидит у тебя внутри. Это непередаваемое чувство.
                | И вот ты сидишь разговариваешь и словно ты с человеком знаком всю свою жизнь, что он тебя знает. И всё так легко и просто.
                | <br/>На самом деле, мне эта встреча помогла разобраться со многими моментами, иначе посмотреть на свою жизнь и то, что с ней дальше сделать. Спасибо большое)
          li.splide__slide
            .review
              .review-author
                span Николай
                | (Москва)
              .review-date 26 декабря 2020 г.
              p Я позвонила Дарье с бедой - муж бросил меня с двумя детьми! Младшему было всего полтора года. Это было отчаяние. Во-первых, я его очень люблю, во-вторых, я просто оказалась на краю жизненной пропасти с малыми на руках. Я умолялал ее вернуть мужа и она помогла мне. Мы снова вместе и снова счастливы! Спасибо Вам Даша!
          li.splide__slide
            .review
              .review-author
                span Вероника
                | (Москва)
              .review-date 9 ноября 2020 г.
              p Спасибо Дарье за психологическую помощь, хоть я и не хотела сначала раскрываться. Но карты в Ваших руках рассказали всю правду о моей ситуации и дали верные советы, которые помогут мне не ошибиться в дальнейшем.
          li.splide__slide
            .review
              .review-author
                span Ольга Н.
                | (Москва)
              .review-date 26 декабря 2020 г.
              p Я позвонила Дарье с бедой - муж бросил меня с двумя детьми! Младшему было всего полтора года. Это было отчаяние. Во-первых, я его очень люблю, во-вторых, я просто оказалась на краю жизненной пропасти с малыми на руках. Я умолялал ее вернуть мужа и она помогла мне. Мы снова вместе и снова счастливы! Спасибо Вам Даша!
          li.splide__slide
            .review
              .review-author
                span Зарина
                | (Москва)
              .review-date 9 ноября 2020 г.
              p Спасибо Дарье за психологическую помощь, хоть я и не хотела сначала раскрываться. Но карты в Ваших руках рассказали всю правду о моей ситуации и дали верные советы, которые помогут мне не ошибиться в дальнейшем.
    .btns-block
      p Чтобы оставить отзыв о гадалке, напишите сообщение в Форме обратной связи. Он обязательно появится на этой странице. Ваш отзыв будет таким, как Вы его написали.
      a.btn.default(data-animation="showFromBottom" href="#contact") Оставить отзыв
