.footer,
.footer__menu-list,
.socials-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding: 20px 3%;
  border-top: 1px solid #C4C4C4;
}

.footer__logo {
  width: 122px;
}

.footer__logo img {
  width: 122px;
  height: 33px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all .2s;
}

.footer__logo:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.footer__menu {
  width: auto;
}

.footer__menu-list {
  margin: 0;
  padding: 0 0 20px;
  border-bottom: 1px solid #C4C4C4;
}

.footer__menu-item {
  margin-right: 30px;
}

.footer__menu-item:last-child {
  margin-right: 0;
}

.footer__menu-item a {
  font-family: 'proxima_novabold';
  font-size: 14px;
  color: #C4C4C4;
  white-space: nowrap;
}

.footer__menu-item a:hover {
  color: #000;
}

.socials-list {
  width: 180px;
}

.ig {
  background: url('../img/icons/ig.svg') no-repeat;
}

.vk {
  background: url('../img/icons/vk.svg') no-repeat;
}

.fb {
  background: url('../img/icons/fb.svg') no-repeat;
}

.socials-list li {
  width: 36px;
  height: 36px;
  -webkit-background-size: 36px 36px;
  background-size: 36px 36px;
  transition: all .2s;
}

.socials-list li:hover {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.socials-list li a {
  display: block;
  width: 36px;
  height: 36px;
  text-indent: -100px;
  overflow: hidden;
}

.footer__apps {
  width: 162px;
}

.footer__apps a {
  display: block;
  transition: all .2s;
}

.footer__apps a:first-child {
  margin-bottom: 18px;
}

.footer__apps a:hover {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}
