@import url(header.css);
@import url(search.css);
@import url(offer-list.css);
@import url(footer.css);
@import url(modal.css);
@font-face {
  font-family: 'proxima_novaregular';
  src: url('./font/proximanova-reg.eot');
  src: url('./font/proximanova-reg.eot?#iefix') format('embedded-opentype'),
       url('./font/proximanova-reg.woff2') format('woff2'),
       url('./font/proximanova-reg.woff') format('woff'),
       url('./font/proximanova-reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('./font/proxima_nova.eot');
  src: url('./font/proxima_nova.eot?#iefix') format('embedded-opentype'),
       url('./font/proxima_nova.woff2') format('woff2'),
       url('./font/proxima_nova.woff') format('woff'),
       url('./font/proxima_nova.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novabold';
  src: url('./font/proximanova-bold.eot');
  src: url('./font/proximanova-bold.eot?#iefix') format('embedded-opentype'),
       url('./font/proximanova-bold.woff2') format('woff2'),
       url('./font/proximanova-bold.woff') format('woff'),
       url('./font/proximanova-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-Semibold.eot');
    src: local('./font/SF Pro Display Semibold'), local('./font/SFProDisplay-Semibold'),
        url('./font/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('./font/SFProDisplay-Semibold.woff2') format('woff2'),
        url('./font/SFProDisplay-Semibold.woff') format('woff'),
        url('./font/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/SFProDisplay-Bold.eot');
    src: local('./font/SF Pro Display Bold'), local('./font/SFProDisplay-Bold'),
        url('./font/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('./font/SFProDisplay-Bold.woff2') format('woff2'),
        url('./font/SFProDisplay-Bold.woff') format('woff'),
        url('./font/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  font-size: 1rem;
  font-family: 'proxima_novaregular';
  line-height: 1.7;
  color: #000;
  background-color: #fff;
}

.fixed {
  position: fixed;
}

a {
  color: #000;
  text-decoration: none;
  transition: all .2s;
}

a:hover,
a:focus {
  /* opacity: 0.8; */
  color: #A1D13F;
}

b, strong {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'SF Pro Display';
  color: #000;
}
button:focus {
  outline: none;
}
button:hover {opacity: 0.7}
button:disabled,
button[disabled] {
  background-color: #dedede;
  color: #c9c9c9;
  cursor: not-allowed;
}
button:disabled:hover, button[disabled]:hover {
  background-color: #dedede;
  color: #c9c9c9;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

fieldset legend {
  font-size: 1.2em;
  margin-bottom: 30px;
}

textarea {
  resize: none;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='search'],
textarea {
  margin: 0;
  background-color: transparent;
  font-family: 'proxima_novaregular';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

textarea:focus, input:focus{
  outline: none;
}

input::-webkit-input-placeholder {
  font-family: 'proxima_novaregular';
  font-size: 18px;
  line-height: 40px;
  color: #979797;
}

input::-moz-placeholder {
  font-family: 'proxima_novaregular';
  font-size: 18px;
  line-height: 40px;
  color: #979797;
}
input::-webkit-input-placeholder {
  font-family: 'proxima_novaregular';
  font-size: 18px;
  line-height: 40px;
  color: #979797;
}
input:-ms-input-placeholder {
  font-family: 'proxima_novaregular';
  font-size: 18px;
  line-height: 40px;
  color: #979797;
}
input::-ms-input-placeholder {
  font-family: 'proxima_novaregular';
  font-size: 18px;
  line-height: 40px;
  color: #979797;
}
input::placeholder {
  font-family: 'proxima_novaregular';
  font-size: 18px;
  line-height: 40px;
  color: #979797;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  margin: 0;
}

.clearfix:after { content: ''; display: table; clear: both; }

.container {
  display: block;
  width: 94%;
  margin: 0 auto;
}

.section {
  display: block;
  margin-bottom: 50px;
}

h2, .title {
  font-family: 'proxima_novasemibold';
  font-size: 32px;
  line-height: 39px;
  margin: 0 0 30px;
}

p, .sub-title {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px;
}

.text-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 17px 0;
  cursor: pointer;
  background: #9CCB3B !important;
  border-radius: 10px;
  border: none;
  font-family: 'proxima_novasemibold';
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus {
  background: #86b624;
}

.btn-primary:disabled,
.btn-primary[disabled] {
  cursor: not-allowed;
}

.btn-primary:disabled:hover, .btn-primary[disabled]:hover {
background-color: #b9d089 !important;
}
